.Username{
    opacity: 80%;
    width: 95vw;
    height: 12vh;
    background-color: rgb(15, 197, 133);
    margin-top: 1vh;
    align-items: center;
    display: flex;
    padding-left: 5vw;
    font-size: 3rem;
    border-radius: 5vh;
    font-weight: bold;
}
.contacts{
    opacity: 80%;
    height: 79vh;
    width: 30vw;
    background-color: rgb(15, 197, 133);
    margin-top: 1vh;
    margin-left: 1vh;
    border-radius: 5vh;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: 0;
}
.contacts::-webkit-scrollbar {
    display: none;
  }
#chats{
    opacity: 70%;
    height: 70vh;
    width: 68.5vw;
    background-color: rgb(15, 197, 133);
    margin-top: 1vh;
    margin-left: 1vh;
    border-radius: 5vh;
    overflow-y: scroll;
}
#chats::-webkit-scrollbar{
    display: none;
}

.send{
    background-color: rgb(69, 100, 39);
    max-width: 50%;
    word-wrap: break-word;
    clear: both;
    width: auto;
    padding:1%;
    border-radius: 2vh;
    float: right;
    margin-right: 2vw;
    margin-top: 2vh;
    color: white;
}
.received{
    background-color: rgb(74, 60, 60);
    max-width: 50%;
    float: left;
    word-wrap: break-word;
    clear: both;
    width: auto;
    padding: 1%;
    border-radius: 2vh;
    margin-left: 2vw;
    margin-top: 2vh;
    color: white;
}
